<!DOCTYPE html>
<html>
  <head>
    <title>Shop - Add product</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Add product</h1>
      <form action="/product/add" method="POST">
        <label>
          Name
          <input type="text" name="name" required />
        </label>
        <label>
          Description
          <input type="text" name="description" required />
        </label>
        <button type="submit">Add Product</button>
      </form>
      <nav>
        <a href="/">Home</a>
        <a href="/product/new">Newest product</a>
        <a href="/logout">Logout</a>
      </nav>
    </div>
  </body>
</html>
